# Node modules
**/node_modules/

# Dépendances
node_modules/
Frontend/todo-list/node_modules/
Backend/node_modules/

# Environnement (Sécurité !)
.env
.env.local

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-error.log*

# Divers
.DS_Store
