.user-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem;
}
table, th, td {
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;

}
.delete-btn {
    background-color: rgb(199, 37, 22);
    box-shadow: 0 2px 2px rgb(71, 34, 34);
    cursor: pointer;
    color: white;
    font-size: 1.075rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
   
    border: none;
    margin: 5px;
}
.delete-btn:hover {
     background-color: rgb(254, 3, 24);
     box-shadow: none;
    
}
